# Lab Assignment 2 - Anastasia Jeffcoat

## 200003415

### If...else statements

Is a number divisible by 3?

In [18]:
x = 873
if x%3 == 0 :
    print(str(x) + " is divisible by 3.")
else: 
    print(str(x) + " is not divisible by 3.")
    
y = 659
if y%3 == 0:
    print(str(y) + " is divisible by 3.")
else:
    print(str(y) + " is not divisible by 3.")

873 is divisible by 3.
659 is not divisible by 3.

Is a fruit acceptable?

In [24]:
fruits = ["apple", "orange", "pear", "kiwi", "strawberry"]
if 'apple' in fruits:
    print("Apple is acceptable.")
else:
    print("Apple is not acceptable.")
if 'banana' in fruits:
    print("Banana is accetable.")
else:
    print("Banana is not accetable.")

Apple is acceptable.
Banana is not accetable.

How far apart are two co-ordinates?

In [32]:
from haversine import haversine, Unit
#my home town to St. Andrews
#lat, long
#answer will be in km
bedworth = (52.4814, 1.4689)
standrews = (56.3398, 2.7967)
haversine(bedworth, standrews)

437.5327443711939

#### Pandas and NumPy

In [37]:
import numpy as np
import pandas as pd
ppt = pd.read_csv('portland_park_trees.csv')

,fid,OBJECTID,Inventory_,Species,DBH,Condition,TreeHeight,CrownWidth,CrownWid_1,CollectedB,...,Genus,Common_nam,Genus_spec,Functional,Size,Native,Edible,Nuisance,Origin,Species_fa
0,1,426,2017/05/09,PSME,37.4,Fair,105.0,44.0,57.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
1,2,427,2017/05/09,PSME,32.5,Fair,94.0,49.0,45.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...
2,3,428,2017/05/09,CRLA,9.7,Fair,23.0,28.0,27.0,staff,...,Crataegus,Lavalle hawthorn,Crataegus x lavalleei,BD,S,No,NaN,NaN,North America - a hybrid between a Mexican and...,"Like most hawthorns, the tree has stout thorns..."
3,4,429,2017/05/09,QURU,10.3,Poor,28.0,38.0,31.0,staff,...,Quercus,northern red oak,Quercus rubra,BD,L,No,NaN,NaN,North America - eastern Canada and eastern USA...,Acorns take two years to mature and are an imp...
4,5,430,2017/05/09,PSME,33.2,Fair,102.0,43.0,44.0,staff,...,Pseudotsuga,Douglas-fir,Pseudotsuga menziesii,CE,L,Yes,NaN,NaN,North America - from British Columbia south to...,Bracts on cones look like a mouse's feet and t...

How many trees are of the Quercus or Acer genus?